*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: poppins, sans-serif;
    background-color: rgb(71, 166, 71);
}

.form{
    height: 430px;
    width: 380px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 5px  0px rgb(176, 254, 58);
    padding: 20px;

}

.form h1{
    text-align: center;
    margin-bottom: 20px;
    color: rgb(23, 53, 23);
    letter-spacing: 1px;
   
}



.content input{
    margin-bottom: 10px;
    padding: 8px;
    width: 100%;
    border: 1px solid rgb(185, 185, 185);
    
}

.content textarea{
    height:100px;
    width: 100%;
    border: 1px solid rgb(185, 185, 185);
}

.content button{
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    border-radius: 20px;
    color: white;
    background-color: rgb(71, 166, 71);
    border: none;
    cursor: pointer;
}