*{
    margin: 0;
    padding: 0;
    
}
body{
    
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to right, #f97316, #ef4444);
}

.formContent{
    height:600px;
    width:400px;
    background-color: aliceblue;
    padding: 40px;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    
    
    
}

#title{
    text-align: center;
    margin-bottom: 40px;
    font-weight: 800;
}

.field{
    display: flex;
    flex-direction: column;
    gap: 6px;
    
}

.field label{
    font-size: 14px;
    font-weight: 600;
    color: #333;
    margin-top: 10px;
}
.field input{
    height: 10px;
    padding: 8px 12px;
    box-shadow: 0 3px 0px rgba(0, 0, 0, 0.1);
    border-style: none;
    border-radius: 4px;
    font-size: 16px;
}

.field input:focus{
    outline: none;
    box-shadow: 0 5px 0px rgba(0, 0, 0, 0.2);
}

#forgotPassword{
    margin-top: 10px;
    text-align: right;
}



#loginbutton{
    margin-top: 40px;
    background: linear-gradient(to right, #166df9, #ef44bc);
    height:40px;
    width:400px;
    border-radius: 20px;
    color:aliceblue;
    font-size: larger;
    border-style: none;
}

#loginbutton:hover{
    background: linear-gradient(to right, #185bc7, #c7319a);
    cursor: pointer;

}

.socialmedia{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
}

.SignUp{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;

}