*{
    margin: 0;
    padding: 0;
    
    
}
  
body{
    font-family: Arial, sans-serif;
    background-color: rgba(34, 112, 200, 0.932);
    
    
    
    
}
#title{
    text-align: center;
    margin-bottom: 20px;
    font-weight: 800;
}

.userProfileCard{
    background-color: white;
    
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    height: 500px;
    text-align: center;
    justify-content: center;
    
}

.userProfileCard img{
    
    width: 300px;
    height: 350px;
    margin-bottom: 15px;
}
.userProfileCard h2{
    font-size: 24px;
    margin-bottom: 10px;
    color:rgb(0, 0, 0)
}
.userProfileCard h3{
    font-size: 16px;
    color: #100909a8;
}

.contact{
    margin-top: 15px;
    background-color: black;
    height: 60px;
}

.contact h1{
    color: white;
    font-size: 20px;
    padding: 20px;
}

#footer{
    margin-top: 30px;
    height: 73px;
    padding: 30px;
    color: whitesmoke;
    background-color: black;
}

#footer h3{
    font-weight: 200;
    font-size: 18px;
}