*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: aliceblue;
}

.header h1{
    text-align: center;
    margin: 20px;
    color: black;
    font-size: 50px;
    
}

.header h3{
    text-align: center;
    margin-bottom: 150px;
    color:rgb(76, 76, 254);
    font-size: 25px;
}

.footercontent{
    background-color: rgb(6, 8, 45);
    color: white;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin: 20px;
    padding: 30px;
    font-size: 10px;
    line-height: 20px;
    
}


.footercontent div h1{
    margin-bottom: 20px;
    
}

.Newsletter p{
    width: 100px;
    
    margin-bottom: 10px;
}

.subscription input{
    padding: 5px;
    border-radius: 5px;
    border-color: blue;
    background-color: rgb(3, 4, 25);
    color: white;
    

}

.subscription ::placeholder{
    color: white; 
    

}

.subscription button{
    padding: 8px;
    border-radius: 5px;
    background-color: white;
    color: black;
    margin-left: 2px;
    color:rgb(45, 45, 45);
    font-size: 12px;
    cursor: pointer;
   
}

.subscription button:hover{
    background-color: rgb(8, 8, 42);
    color: white;
    transition: 0.3s;
}

