*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.navigationBar{
    background-color: rgb(126, 112, 255);
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    
    
}

#logo{
    color: whitesmoke;
    font-size: 4xl;
    font-weight: bold;
    letter-spacing: 1px;
}

.navigationBar ul{
    list-style: none;
    display: flex;
    gap: 25px;
}

.navigationBar ul li a{
    text-decoration: none;
    color: whitesmoke;
    font-size: 18px;
    font-weight: 500;
    transition: 0.5s;

}
.navigationBar ul li a:hover{
    text-decoration: underline;
    color: whitesmoke;
    font-size: 20px;
    font-weight: 600;
    transition: 0.5s;
    
}

.content{
    padding: 100px;

}

#firstLine{
    font-size: 30px;
    font-weight: 800;
    color:rgb(100, 100, 248);
    margin-bottom: 10px;
}

#secondLine{
    font-size: 80px ;
    font-weight: 900;
    color: rgb(32, 32, 32);
}

#thirdLine{
    font-size: 50px;
    font-weight: 700;
    color: royalblue;
    margin-bottom: 10px;
}

#boxText{
    width:400px;
    height: 50px;
    background-color: rgb(126, 112, 255);
    color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
}

#boxText:hover{
    background-color: rgb(100, 100, 248);
    
}

.footer{
    height: 165px;
    background-color: rgb(32, 32, 32);
    color:rgb(189, 221, 255);
    line-height: 30px;
    font-size: small;
    padding: 30px;
}